<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rickyshin.coolweather">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name="com.rickyshin.coolweather.WeatherApplication"
                 android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme"
        >

        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JHcbbf79c50e4925009e67f5037248b899" />
        <activity android:name=".WeatherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
